* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: hsl(30, 38%, 92%);
}
    .container{
        width:  80%;
        height: 60vh;
        margin: 15px;
        border-radius: 10px ;
        display: flex ;
        margin-top: 15%;
        background: white;
        justify-content: center;
        align-items: center;
        
        
        
    }
    .image{
        background: url(./images/image-product-desktop.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        border-radius: 12px 0 0 12px ;
    }
    .general{
        padding: 5px;
        margin-left: 10px;
    }
    .textcontainer{
        padding: 0 5% ;
        border-radius:0 12px 12px 0 ;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.4em;
        
    }
    .title{
        color: hsl(228, 12%, 48%) ;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0.5em;

    }
     .header{
        font-family: 'Fraunces';
        font-size: 2rem;
        color: hwb(212 11% 83%);
        font-weight: 700;
        width: 90%;
        margin-bottom: 0.5em;
        margin-top: 0.4em;
        
        

     }
     .text{
        color: hsl(228, 12%, 48%) ;
        font-size: 15px;
        width: 100%;
        line-height: 1.4em;
        
     }
      .rate{
        display: flex;
        margin: auto;
    
      }
     .cyan{
        font-family: 'Fraunces';
        font-size: 2.4rem; 
        color: hsl(158, 36%, 37%);
        font-weight: 700;
        margin: 15px;

     }
     .strike{
        color: hsl(228, 12%, 48%) ;
        text-decoration: line-through;
     }

      .btn{
            background-color: hsl(158, 36%, 37%);
            border: 0;
            border-radius: 8px;
            width: 90%;
            padding: 5%;
            margin: 0 auto;
            color: white;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            font-family: 'Montserrat', sans-serif;

    }
    .btn img{
      margin-right: 10px;
    }
    .btn:hover{
          background-color: hsl(158, 47%, 21%)
          ;
          cursor: pointer;
    }

@media screen and (max-width:600px ){
  .container{
    flex-direction: column;
    width: 100%;
    height: 80vh;
    

  }  
  .image{
    background-image: url(./images/image-product-mobile.jpg);
    width: 100%;
    height: 100%;
    background-position: top center;
    border-radius:12px 12px 0 0;
  
    
    
  }
.textcontainer{
  width: 100%;
  height: 50vh;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 0 0 12px 12px;
  height: auto;
  margin-left: 10px;
  margin-right: 15px;
}
.btn{
    margin-right: 10px;
    width: 95%;
}
.title{
    margin-top: 10px;
}
.text{
    width: 100%;
}

}

  